.Rproj.user
.Rhistory
.RData
.Ruserdata
*.fq
*.fastq
*.fq.gz
*.fastq.gz
Apulchra-genome.fa
*.ht2
*.bashvars
*.bam
.DS_Store
*.bt2

D-Apul/data/*.fa
D-Apul/data/*.ebwt
D-Apul/data/*sorted*
D-Apul/data/raw-fastqs-sRNA
D-Apul/data/Apulchra-genome-bisulfite
D-Apul/data/Apulchra-genome-bisulfite.tar.gz
D-Apul/data/Bisulfite_Genome

D-Apul/code/.bashvars
D-Apul/code/*_cache

D-Apul/output/01.10-D-Apul-sRNAseq-trimming-fastp-FastQC-MultiQC/trimmed-fastqs-sRNA
D-Apul/output/04-Apul-sRNA-discovery-ShortStack/ShortStack_out/*.bam
D-Apul/output/04-Apul-sRNA-discovery-ShortStack/ShortStack_out/*.fa
D-Apul/output/04-Apul-sRNA-discovery-ShortStack/ShortStack_out/*.csi
D-Apul/output/06-Apul-miRNA-mRNA-RNAhybrid/*.fa
D-Apul/output/07-Apul-miRNA-mRNA-miRanda/*.tab
D-Apul/output/10-Apul-lncRNA-miRNA-miRanda/*.tab
D-Apul/output/15-*
D-Apul/output/15.5-Apul-bismark/*
E-Peve/output/04*
