.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.fq
*.fastq
*.fq.gz
*.fastq.gz
Apulchra-genome.fa
*.ht2
*.bashvars
*.bam
.DS_Store
*.bt2
*sam
*_cache
D-Apul/data/*.fa
D-Apul/data/*.ebwt
D-Apul/data/*sorted*
D-Apul/data/raw-fastqs-sRNA
D-Apul/data/merged-WGBS-CpG-counts_filtered_n20.csv
D-Apul/data/Apulchra-genome-bisulfite
D-Apul/data/Apulchra-genome-bisulfite.tar.gz
D-Apul/data/Bisulfite_Genome
D-Apul/data/31*
D-Apul/code/.bashvars
D-Apul/code/*_cache
D-Apul/output/01.10-D-Apul-sRNAseq-trimming-fastp-FastQC-MultiQC/trimmed-fastqs-sRNA
D-Apul/output/04-Apul-sRNA-discovery-ShortStack/ShortStack_out/*.bam
D-Apul/output/04-Apul-sRNA-discovery-ShortStack/ShortStack_out/*.fa
D-Apul/output/04-Apul-sRNA-discovery-ShortStack/ShortStack_out/*.csi
D-Apul/output/06-Apul-miRNA-mRNA-RNAhybrid/*.fa
D-Apul/output/07-Apul-miRNA-mRNA-miRanda/*.tab
D-Apul/output/07.1-Apul-miRNA-mRNA-miRanda-additional_inputs/*.tab
D-Apul/output/07.1-Apul-miRNA-mRNA-miRanda-additional_inputs/*.fa
D-Apul/output/10-Apul-lncRNA-miRNA-miRanda/*.tab
D-Apul/output/14.1-Apul-miRNA-mRNA-coexpression-additional_inputs/Apul-PCC_miRNA_mRNA-full.csv
D-Apul/output/15-*
D-Apul/output/15.5-Apul-bismark/*
D-Apul/output/22.20-Apul-multiomics-MOFA2/*.hdf5
D-Apul/output/22.20-Apul-multiomics-MOFA2/*rds
D-Apul/output/28-Apul-CpG-Annotation/Apul*gff
D-Apul/output/28-Apul-CpG-Annotation/*both.gff
D-Apul/output/28-Apul-CpG-Annotation/*mRNA.gff
D-Apul/output/31-*
E-Peve/data/raw-fastqs-sRNA
E-Peve/data/*.fa
E-Peve/data/*.fasta
E-Peve/data/*.ebwt
E-Peve/code/.bashvars
E-Peve/code/*_cache
E-Peve/output/01.10-E-Peve-sRNAseq-trimming-fastp-FastQC-MultiQC/trimmed-fastqs-sRNA
E-Peve/output/04-*
E-Peve/output/04.3-Peve-bismark-array/*bam
E-Peve/output/08-Peve-sRNA-discovery-ShortStack/ShortStack_out/*.fa
E-Peve/output/08-Peve-sRNA-discovery-ShortStack/ShortStack_out/*.bam
E-Peve/output/08-Peve-sRNA-discovery-ShortStack/ShortStack_out/*.csi
E-Peve/output/08-Peve-sRNA-discovery-ShortStack/ShortStack_out/strucVis
E-Peve/output/09*
F-Ptua/data/raw-fastqs-sRNA
F-Ptua/data/*.fa
F-Ptua/data/*.fasta
F-Ptua/data/*.ebwt
F-Ptua/data/bs
F-Ptua/data/dedu*
F-Ptua/data/Bis*
F-Ptua/code/.bashvars
F-Ptua/code/*_cache
F-Ptua/output/01.10-F-Ptua-sRNAseq-trimming-fastp-FastQC-MultiQC/trimmed-fastqs-sRNA
F-Ptua/output/04-Ptua-sRNA-discovery-ShortStack/ShortStack_out/*.fa
F-Ptua/output/04-Ptua-sRNA-discovery-ShortStack/ShortStack_out/*.bam
F-Ptua/output/04-Ptua-sRNA-discovery-ShortStack/ShortStack_out/*.csi
F-Ptua/output/04-Ptua-sRNA-discovery-ShortStack/ShortStack_out/strucVis
F-Ptua/output/05-Ptua-bismark-CG/POC*
E-Peve/data/12-Peve-lncRNA-discovery/genome.fasta
blastdb
F-Ptua/output/06-Ptua-lncRNA-discovery/P*
F-Ptua/output/06-Ptua-lncRNA-discovery/l*cand*
F-Ptua/output/06-Ptua-lncRNA-discovery/g*
F-Ptua/output/06-Ptua-lncRNA-discovery/*fasta
F-Ptua/output/06-Ptua-lncRNA-discovery/*ht*
F-Ptua/output/06-Ptua-lncRNA-discovery/s*
# Large files over 99MB in D-Apul lncRNA discovery output
D-Apul/output/31.5-Apul-lncRNA-discovery/lncRNA.fasta
D-Apul/output/31.5-Apul-lncRNA-discovery/lncRNA_candidates.fasta
D-Apul/output/31.5-Apul-lncRNA-discovery/*.sorted.bam
D-Apul/output/31.5-Apul-lncRNA-discovery/*.sorted.bam.bai
D-Apul/output/31.5-Apul-lncRNA-discovery/gffcompare_merged.annotated.gtf
D-Apul/output/31.5-Apul-lncRNA-discovery/stringtie_merged.gtf
.snakemake
M-multi-species/output/19-CG-motifs/*.gff
=======
# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
timeseries_molecular.Rproj
