.Rproj.user
.Rhistory
.RData
.Ruserdata
*.fq
*.fastq
*.fq.gz
*.fastq.gz
Apulchra-genome.fa
*.ht2
*.bashvars
*.bam
.DS_Store

D-Apul/data/raw-fastqs
D-Apul/data/raw-fastqs-sRNA
D-Apul/output/01.10-D-Apul-sRNAseq-trimming-fastp-FastQC-MultiQC/trimmed-fastqs-sRNA